section {
  max-width: 25em;
  display: block;
  padding: 1em;
}

div {
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
}

img {
  width: 100%;
}

h2 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  text-align: left;
}

a {
  display: inline-block;
  padding: .5rem;
  border-radius: 5px;
  border-style: solid;
  border-color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  text-decoration: none;
  color: #000;
  text-align: center;
}
